@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #393939;
    font-family: 'Encode Sans Condensed', sans-serif;
}
