.TrackInfoPage__image-fallback {
  background-color: #dbdee8;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 600%;
}

.TrackInfoPage__track-image {
  width: 375px;
  height: 375px;
  border-radius: 20px;
}

.TrackInfoPage__track-wrapper {
  display: flex;
}

.TrackInfoPage__track-info {
  margin-left: 40px;
}

.TrackInfoPage__track-name {
  font-size: 30px;
}

.TrackInfoPage__track-by-wrapper {
  margin-bottom: 10px;
}
