.SearchList {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchList__section-title {
  font-size: 22px;
  color: #6f7485;
  margin-left: 3px;
}

.SearchList__spinner {
  margin-top: 20px;
}

.SearchList__tracks-wrapper .SearchListWrapper__list-list-wrapper {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.SearchList__artists-wrapper .SearchListWrapper__list-list-wrapper {
  grid-template-columns: repeat(6, 1fr);
}

.SearchList__albums-wrapper .SearchListWrapper__list-list-wrapper {
  grid-template-columns: repeat(4, 1fr);
}
