

.SearchInput {
  margin-top: 50px;
}

.SearchInput__input {
  position: relative;
  display: inline-block;
  padding: 0 0 0 40px;
  background-color: #fff;
  font-size: 15px;
  width: 300px;
  height: 35px;
  border: none;
  border-radius: 5px;
}

.SearchInput__button {
  background-color: #29516D;
  border: none;
  color: #fff;
  font-size: 15px;
  width: 100px;
  height: 35px;
}