

.Header {
    float: left;
    width: 100%;
    padding: 15px 50px;
    background-color: #29516D;
    overflow: hidden;
}


.Header__logo-name {
    float: left;
    margin-right: 30px;
    font-size: 25px;
}

.Header__logo {
    width: 200px;
}
