.SearchListWrapper {
  width: 100%;
  margin-bottom: 30px;
}

.SearchListWrapper__list-list-wrapper {
  width: 100%;
  display: grid;
}

.SearchListWrapper__title {
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--dark-text);
  font-weight: 700;
}
