

.SearchInput {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchInput__input {
  font-size: 20px;
  background-color: #e6eaf5;
  width: 300px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
  color: #393939;
}

.SearchInput__button {
  background-color: #428cff;
  border: none;
  color: #fff;
  font-size: 20px;
  width: 100px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.SearchInput__button:hover {
  opacity: .8;
}
