.SearchInput {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 300px;
  align-self: center;
}

.SearchInput__input {
  font-size: 18px;
  background-color: #e6eaf56e;
  width: 300px;
  padding: 15px 15px 15px 43px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
  color: #393939;
}

.SearchInput__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
}
