.ArtistCard {
  width: 200px;
  cursor: pointer;
  margin-bottom: 30px;
  padding: 0 15px;
}

.ArtistCard__image:hover {
  opacity: 0.4;
}

.ArtistCard__image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
}

.ArtistCard__name {
  margin-top: 10px;
  font-size: 15px;
}

.ArtistCard__image-fallback {
  background-color: #dbdee8;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 600%;
}
